<!--JORGE GARCÍA CASTAÑO Y MARTA ALMENDRAL HERNANDEZ
GRUPO 35.2-->

Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >      
  <input type="text" id="comment" name="comment[texto]" value=""/> <p>
  <button type="submit">Enviar</button>
</form>
