    <h1>Autores del Quiz</h1>
    <p>Jorge García y Marta Almendral</p>
    <p><a href="/">Volver al inicio</a></p>
    <img  src='../public/jorge.jpg' height ="400px" width="272px">
    <img  src='../public/marta.jpg' height ="400px" width="272px">
    <iframe src="https://www.youtube.com/watch?v=kJjznN0qM9s">
        </iframe>
