<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Autores</h1>
    <p>Jorge García Castaño y Marta Almendral Hernández</p>
    <div id="cajaFotos">
        <img src="../public/jorge.jpg" alt="Jorge García Castaño" width="50%">
        <img src="../public/marta.jpg" alt="Marta Almendral Hernández" width="50%">
    </div>
      <div id="cajaVideo">
        <iframe src="https://www.youtube.com/watch?v=kJjznN0qM9s">
        </iframe>
    </div>
    <p><a href="/">Página de inicio</a></p>
  </body>
</html>