<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Autores</h1>
    <p>Jorge García Castaño y Marta Almendral Hernández</p>
    <p><a href="/">Página de inicio</a></p>
  </body>
</html>