<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1> Bienvenido a <%= title %></h1>
    <p>Autores</p>
    <p>Somos Cristina Sanchez Gonzalez y Alicia Gonzalez Cardenas</p>
    <p><a href="/qlayout"> vuelva a la pagina de inicio</a></p>
  </body>
</html>