<!--JORGE GARCÍA CASTAÑO Y MARTA ALMENDRAL HERNANDEZ
GRUPO 35.2-->  

<h3>Bienvenido a <%= title %></h3>
  El portal donde podrá crear sus propios juegos!<br>
  <span><a href="/author">Página de autores</a></span><br>
  <span><a href="https://github.com/garciacastano/">Página de GITHUB</a></span>