<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1> Bienvenido a <%= title %></h1>
    <p>¡El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/quizes/question"> Comience a jugar</a></p>
  </body>
</html>
