
<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Responda aquí"/>
	<input type="submit" value="Enviar">
</form>

<p><a href="/quizes"<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
<br>
<p><strong>Comentarios:</p>
<%for(index in quiz.Comments){%>
	<p>- <%quiz.Comments[index].texto%></p>
<%}%>

